@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body,
html {
	height: calc(100% - 2em);
	margin: 0;
	font-family: 'Montserrat';
}
body {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2792a9+0,bef4c4+100 */
	background: #2792a9; /* Old browsers */
	background: -moz-linear-gradient(45deg, #2792a9 0%, #bef4c4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #2792a9 0%, #bef4c4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #2792a9 0%, #bef4c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr='#2792a9',
			endColorstr='#bef4c4',
			GradientType=1
		); /* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*background-size: 100%;*/
}

aside {
	color: #fff;
	display: grid;
	grid-template-columns: auto 40px;
	padding: 2em;
}

img {
	width: 40px;
	cursor: pointer;
}

figure {
	margin: 0;
}

figcaption {
	font-size: 1.3em;
	font-weight: bold;
}

nav {
	background: white;
}
.active {
	position: absolute;
	display: block;
	background: #fff;
	width: 50%;
	left: 0;
	top: 0;
	height: 100%;
}
ul {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8em;
	display: block;
	padding: 1.5em 3em;
	background-color: rgba(255, 255, 255, .35);
	color: #000;
	font-style: normal;
}

main {
	background: #fff;
	padding: 1em 1.4em;
}

h1 {
	margin: 0;
}

p {
	font-size: 1.1em;
	line-height: 1.5em;
}
.text {
	line-height: 5px;
	/* or 35px */
}

.cta {
	display: block;
	color: #fff;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2792a9+0,67e0a5+50,2792a9+100 */
	background: #2792a9; /* Old browsers */
	background: -moz-linear-gradient(left, #2792a9 0%, #67e0a5 50%, #2792a9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #2792a9 0%, #67e0a5 50%, #2792a9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to right,
		#2792a9 0%,
		#67e0a5 50%,
		#2792a9 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr='#2792a9',
			endColorstr='#2792a9',
			GradientType=1
		); /* IE6-9 */

	text-decoration: none;
	padding: 8px 50px;
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
	border-radius: 4px;
	margin: 2em 0;
}
@media only screen and (min-width: 768px) {
	body {
		display: grid;
		grid-template-columns: 20% auto;
		padding: 2em;
	}

	img {
		display: none;
	}

	aside {
		background: #e1fff8;
		grid-template-columns: auto;
		grid-template-rows: 20% auto;
		padding: 0;
	}

	main {
		padding: 4em;
		background: white url('BG.svg') no-repeat bottom right;
		background-size: 55%;
	}

	#avatar {
		border-radius: 50%;
		background: url('AVATAR.png');
		background-size: 100%;
		width: 50px;
		height: 50px;
		margin: 2em auto 1em auto;
	}

	figcaption {
		text-align: center;
		color: #000;
	}

	ul {
		display: block;
		margin-top: 2em;
		position: relative !important;
		background: none !important;
		width: 100% !important;
	}

	ul li a:hover {
		background-color: rgba(255, 255, 255, 0.44);
	}

	nav {
		background: none;
	}

	.cta {
		display: inline-block;
		font-size: 1.3em;
		padding: .8em 3em;
	}

	h1 {
		font-size: 3em;
		margin-top: 2em;
	}

	p {
		font-size: 1.5em;
	}
}
